# I just reset gitignore. I will add things back bit by bit asap

# Things will NOT be be ignore
!eclipse/
!Sources/
!SQLite Browser/
!Zip/
!calendar/sqlite-jdbc-3.8.7.jar

# Things will be ignore
Desktop.ini
.DS_Store
$RECYCLE.BIN/
*.class
*.jar
.metadata/
